@font-face {
    font-family: SF-regular;
    src: url(fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: SF-thin;
    src: url(fonts/SF-Pro-Display-Thin.otf);
}

@font-face {
    font-family: SF-medium;
    src: url(fonts/SF-Pro-Display-Medium.otf);
}

#area {
    position: absolute;
    width: 390px;
    height: 844px;
    background: #000000;
}

#display {
    position: absolute;
    width: 322px;
    height: 100px;
    left: 34px;
    top: 205px;

    font-family: SF-thin, Thin;
    font-size: 93px;
    color: #FFFFFF;
    text-align: right;
    line-height: 100px;
}

.numberButton {
    position: absolute;
    width: 78px;
    height: 78px;

    font-family: SF-regular, Regular;
    font-size: 40px;
    color: #FFFFFF;
    background: #333333;
    border: 0px;
    border-radius: 50%;
}

.operationButton {
    position: absolute;
    width: 78px;
    height: 78px;

    color: #FFFFFF;
    background: #F1A33B;
    border: 0px;
    border-radius: 50%;
    font-family: SF-regular, Regular;
    font-size: 54px;
    padding-bottom: 10px;
}

#AC {
    position: absolute;
    width: 78px;
    height: 78px;
    left: 16px;
    top: 320px;

    background: #A5A5A5;
    border: 0px;
    border-radius: 50%;
    font-family: SF-medium, Medium;
    font-size: 34px;
}

#button9 {
    left: 202px;
    top: 413px;
}

#button8 {
    left: 109px;
    top: 413px;
}

#button7 {
    left: 16px;
    top: 413px;
}

#button6 {
    left: 202px;
    top: 506px;
}

#button5 {
    left: 109px;
    top: 506px;
}

#button4 {
    left: 16px;
    top: 506px;
}

#button3 {
    left: 202px;
    top: 599px;
}

#button2 {
    left: 109px;
    top: 599px;
}

#button1 {
    left: 16px;
    top: 599px;
}

#button0 {
    width: 171px;
    left: 16px;
    top: 692px;
    border-radius: 39px;
    text-align: left;
    padding-left: 27px;
}

#buttonPoint {
    left: 202px;
    top: 692px;
}

#division {
    left: 295px;
    top: 320px;
}

#multiplication {
    left: 295px;
    top: 413px;
}

#subtraction {
    left: 295px;
    top: 506px;
}

#addition {
    left: 295px;
    top: 599px;
}

#equalButton {
    left: 295px;
    top: 692px;
}